@mixin d-flex($dir: row) {
	display: flex;
	flex-direction: $dir;
}
.card_container {
	@include d-flex(column);
	align-items: center;
	justify-content: center;
	width: 690px;
	margin: 20px 12px;
}
.card {
	@include d-flex;
	justify-content: space-between;
	margin-bottom: 24px;
	padding: 16px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 4%);
	-webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 4%);
}

.card_img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s ease-in-out;
	border-radius: 2px 2px 0 0;
	height: 100%;
}

.card_img_container {
	width: 220px;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 60px;
		height: 40px;
		right: -40px;
		bottom: 0;
		-webkit-transform: skewX(-45deg);
		transform: skewX(-45deg);
		background: #fff;
		z-index: 1;
	}
}
.card_img_container:hover .card_img {
	transform: scale(1.05);
}
.card_details_container {
	z-index: 2;
	width: calc(100% - 220px);
	padding: 0 0 16px 16px;
	position: relative;
	h5 {
		margin: 0 0 4px;
		font-size: 18px;
		line-height: 22px;
		color: #292929;
		font-family: Muli, sans-serif;
		font-weight: 700;
		width: 100%;

		a {
			font-size: 18px;
			text-decoration: none;
			outline: 0;
			color: inherit;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			width: 100%;
			&:hover {
				color: #ed1a33;
				text-decoration: none;
				outline: 0;
			}
			&:active,
			&:focus,
			&:visited {
				text-decoration: none;
				outline: 0;
			}
		}
	}
	.description {
		cursor: pointer;
		font-size: 14px;
		margin-bottom: 24px;
		width: 100%;
	}
	.card_info {
		position: absolute;
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding-left: 16px;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		.timeline {
			display: flex;
			align-items: center;
			.sport_info {
				text-decoration: none;
				background-color: transparent;
				font-size: 14px;
				margin-right: 4px;
				color: #2990f8;
				font-weight: 600;
				text-transform: uppercase;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: #22336f;
				}
			}
			.time {
				margin: 0;
				font-size: 13px;
				line-height: 18px;
				color: #a3a3a3;
				font-family: 'IBM Plex Sans Condensed', sans-serif;
				font-weight: 500;
			}
		}
		.view-comment {
			display: flex;
			.comment {
				display: flex;
				align-items: center;
				margin-right: 10px;
			}
			.view {
				display: flex;
				align-items: center;
			}
			p {
				margin: 0;
				font-size: 14px;
				line-height: 18px;
				color: #a3a3a3;
				font-family: 'IBM Plex Sans Condensed', sans-serif;
				font-weight: 510;
			}
			.icon {
				background-position: center;
				background-repeat: no-repeat;
				height: 100%;
				width: 25px;
			}
		}
	}
}

@media (max-width: 767px) {
	.card {
		flex-direction: column;
	}
	.card_container {
		width: 520px;
	}
	.card_img_container {
		width: 100%;
		height: 180px;
		margin-bottom: 16px;
	}
	.card_details_container {
		width: 100%;
		padding-left: 0;
		h5 {
			line-height: 20px;
		}
		.description {
			line-height: 21px !important;
			font-size: 14px !important;
			width: 98%;
			line-height: 20px;
		}
		.card_info {
			padding-left: 0;
		}
	}
	.timeline {
		line-height: 18px;
		width: 100%;
		.sport_info {
			font-size: 14px !important;
		}
		.time {
			font-size: 12px !important;
		}
	}

	.view-comment {
		.comment {
			margin-right: 3px !important;
		}
	}
}
