@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	&::selection {
		color: #fff;
		background: #ed1a33;
	}
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'IBM Plex Sans', sans-serif;
	font-display: swap;
	background: #f4f4f5;
	font-size: 16px;
	line-height: 26px;
	color: #525252;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}
